@import "../../global.scss";

.match-center {
  //   background-color: red;
  color: $light;
  width: 100%;
  .match-center-nav {
    // padding: 20px;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $black;
    // flex: 1;

    select {
      height: 70%;
      width: 150px;
      font-size: 1.4rem;
      outline: none;
      font-family: $mainFont;
      margin-right: 100px;
      border-radius: 6px 6px 0 0;

      option {
        font-size: 1rem;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      list-style: none;
      //   flex: 2;
      //   background-color: lime;
      //   width: 600px;

      li {
        cursor: pointer;
        padding: 10px;
        background-color: $light;
        color: $mainColor;
        margin-right: 10px;
        border-radius: 6px 6px 0 0;
        transition: all ease;

        &.active,
        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }

  .fixtures-center {
    min-height: 100vh;

    .fixtures-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      //   background-color: red;

      .monthly-fixtures {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin-bottom: 50px;
        h2 {
          text-transform: uppercase;
        }

        .fixture-container {
          width: 90%;
          //   background-color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .date-details {
            background-color: $mainColor;
            color: $black;
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            width: 100%;
          }
          .teams {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 100%;

            .team-details {
              display: flex;
              align-items: center;
              height: 90%;

              //   background-color: lime;
              h4 {
              }
              img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: contain;
              }
            }
            span {
              margin: 10px;

              padding: 5px;
              background-color: $black;
              color: white;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}
