@import "../../global.scss";

.story-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .story-title-container {
    font-size: 2.4rem;
    height: auto;
    max-width: 70%;
  }
  .story-image {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // position: relative;
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0.5),
    //   rgba(0, 0, 0.5)
    // );

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
      background-position: 30% 50%;
      transition: all ease-in-out 1.2s;
      //   margin: 10px;
      //   flex: 2;
    }
  }

  .story-wrapper {
    display: flex;
    // background-color: aqua;
    flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    width: 100%;
    // padding: 20px;

    .story-container {
      display: flex;
      align-items: flex-start;
      background-color: $mainColor;
      width: 100%;

      .story-content {
        flex: 3;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 2rem;
          width: 80%;
        }

        p {
          width: 80%;
          line-height: 40px;
          letter-spacing: 2.2px;
        }
      }

      .more-stories {
        flex: 1;
        // height: 100px;
        // width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 5px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        font-weight: 400;
        padding: 5px;
        cursor: pointer;
        // background-color: aqua;

        h3 {
          font-weight: 700;
          font-size: 2rem;
        }

        .news-widgets-container {
          max-height: 500px;
          overflow-y: scroll;
          //   -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          &::-webkit-scrollbar {
            display: none;
          }

          .latest-news-widget {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            text-decoration: none;
            font-size: 1.2rem;
            margin-bottom: 5px;
            color: $black;

            &:hover {
              color: white;
            }

            img {
              flex: 1;
              height: 80px;
              width: 80px;
              //   border-radius: 50%;
              object-fit: fill;
            }

            i {
              flex: 2;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 5px;
              height: 90%;
              //   background-color: green;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
