@import "../../global.scss";

.menu-container {
  top: 0px;
  left: 0;
  position: fixed;
  display: flex;
  z-index: 10;

  &.active {
    animation: openMenu 1.5s forwards;
  }

  > div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    transition: all ease-in-out 1s;
    animation-duration: 1.5s;
    height: 100vh;
    overflow: hidden;

    &.inactive {
      animation: closeMenu 1.5s forwards;
      // flex: 1;
    }
  }
  .left-container {
    animation-name: slideUp;
    background-color: $black;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      min-height: 60vh;

      a {
        text-decoration: none;
        color: $mainColor;
        font-size: 2rem;
      }
    }
  }

  .right-container {
    animation-name: slideDown;
    text-align: center;
    background-color: white;

    > div {
      width: 70%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $black;
      height: 250px;
      overflow: hidden;
      margin: auto;
      position: relative;
      background-color: $black;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0px -40px;
      }
    }
    .text-container {
      text-align: left;
      position: relative;
      background-color: $black;

      h3 {
        color: white;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
      }
      p {
        width: 100%;
        letter-spacing: 2px;

        color: $mainColor;
        padding: 15px;
        z-index: 1;
        bottom: 0;
      }
      span {
        font-weight: 300;
        font-size: 0.8rem;
        color: rgb(31, 26, 26);
        bottom: 0%;
        margin-left: 10px;
        color: $defaultRed;
      }
    }
  }

  @keyframes openMenu {
    from {
      height: 0vh;
    }
    to {
      height: 100vh;
    }
  }
  @keyframes closeMenu {
    from {
      height: 100vh;
    }
    to {
      height: 0vh;
      display: none;
    }
  }
  @keyframes slideUp {
    from {
      top: 200px;
      opacity: 0.9;
      background-color: $black;
      color: white;
      height: 0vh;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      bottom: 500px;
      opacity: 0.8;
      background-color: white;
      color: $black;
      height: 0vh;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
}
