@import "../../Global.scss";

.menu-container {
  width: 100%;
  height: calc((100vh - 90px));
  position: absolute;
  top: 90px;
  left: 0;
  display: none;
  overflow: hidden;

  &.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  > div {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation-duration: 2s;
    transition: all ease-in-out 2s;

    @keyframes slideUp {
      from {
        top: 200px;
        opacity: 0.9;
        background-color: $black;
        color: white;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }

    @keyframes slideDown {
      from {
        bottom: 200px;
        opacity: 0.9;
        background-color: white;
        color: $black;
      }
      to {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  .left-container {
    animation-name: slideDown;
    background-color: $black;

    // margin-right: 5px;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      height: 60%;

      a {
        text-decoration: none;
        color: $mainColor;
        font-size: 2rem;
      }
    }
  }

  .right-container {
    animation-name: slideUp;
    text-align: center;
    background-color: white;

    > div {
      width: 70%;
    }

    // animation-direction: reverse;
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $black;
      height: 250px;
      overflow: hidden;
      margin: auto;
      position: relative;
      background-color: red;

      img {
        // flex: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0px -40px;
      }
    }
    .text-container {
      text-align: left;
      position: relative;
      background-color: $black;

      //   background-color: yellow;
      p {
        width: 100%;
        letter-spacing: 2px;

        color: $mainColor;
        padding: 15px;
        z-index: 1;
        // position: absolute;
        bottom: 0;
      }
      span {
        // font-weight: 300;

        font-size: 0.8rem;
        color: rgb(31, 26, 26);
        // position: absolute;
        bottom: 0%;
        margin-left: 10px;
        color: $defaultRed;
      }
    }
  }
}
