@import "../../../global.scss";

.groups-section {
  height: 70vh;
  border: 1px solid $mainColor;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  background-color: $light;

  .nav-panel {
    height: 80%;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $blueDark;
    color: $light;
    border-radius: 100px;
    margin-right: 20px;

    span {
      flex: 1;
      display: flex;
      align-items: center;
      transition: ease-in 0.5s;

      .icon {
        font-size: 2rem;
        cursor: pointer;
      }
      &:hover {
        color: white;
      }
    }
  }

  .group-list {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 60%;
    height: 100%;
    // padding: 30px;

    .list-nav {
      width: 95%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;

      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        .icon {
          font-size: 2rem;
        }
      }
    }
  }

  .groups-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $blueDark;
    overflow-y: scroll;
    padding: 50px;

    .group {
      height: 200px;
      width: 170px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $mainColor;
      margin-bottom: 20px;
      margin-left: 10px;
      position: relative;
      cursor: pointer;

      .image {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;

        .group-logo {
          object-fit: contain;
          height: 55%;
          width: 55%;
          border-radius: 50%;
        }
      }
      .active {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $online;
      }

      .group-text {
        text-align: center;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        font-weight: 500;
      }
    }
  }
}
