@import "../../global.scss";

.teams {
  .team-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;

    h2 {
      margin-bottom: 20px;
      text-transform: uppercase;
      padding-left: 50px;
    }
    .MuiDataGrid-root {
      width: 90%;
      margin: auto;
      color: $black;
    }
  }
}
