@import "../../global.scss";

.ticketing {
  width: 100%;
  height: auto;

  .latest-event {
    height: 30vh;
    background-color: $black;
    color: $defaultRed;
  }

  .get-tickets {
    height: 60vh;
  }

  .upcoming-events {
    height: 40vh;
  }
}
