@import "../../../../global.scss";

.training-container {
  table {
    td {
      position: relative;

      span {
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        &.consistent {
          background-color: rgba(0, 128, 0, 1);
        }
        &.good {
          background-color: rgba(0, 128, 0, 0.7);
        }
        &.fair {
          background-color: rgba(0, 128, 0, 0.5);
        }
        &.average {
          background-color: rgba(250, 4, 4, 0.5);
        }
        &.inconsistent {
          background-color: rgba(250, 4, 4, 0.8);
        }
      }

      small {
        z-index: 5;
        color: white;
      }
    }
  }
}
