@import "../../../../global.scss";

.topbar {
  width: 200px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  span {
    display: flex;
    cursor: pointer;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
  }
}
