@import "../global.scss";

.website-home {
  background-color: $mainColor;
  color: $light;
  height: auto;
  min-width: 100% !important;

  .website-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      //   background-color: $black;
      margin: 1px;
      padding: 5px;

      li {
        margin: 3px;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
    .top-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 100%;
      background-color: $black;
      color: white;
      position: sticky;
      top: 0;

      .header-leagues {
        display: flex;
        // align-items: flex-start;
        justify-content: flex-start;
        flex: 3;
      }
      .mini-list {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
      }
    }

    .bottom-header {
      padding: 5px;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $defaultRed;

      //   overflow: hidden;
      .logo {
        height: 80%;
        width: 80px;
        margin-right: 100px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      ul {
        flex: 1;
        max-width: 900px;

        li {
          color: $mainColor;

          a {
            color: $mainColor;
            text-decoration: none;
          }
        }
      }
    }
  }

  .story-type {
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: $defaultRed;
    text-transform: uppercase;
    // padding-left: 5px;
  }

  .website-landing-section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    .main-story {
      background-color: $black;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 10px;
      border-top: 10px solid $defaultRed;
      border-right: 10px solid $defaultRed;
      border-top-right-radius: 10px;
      width: 100%;
      cursor: pointer;

      .title-wrapper {
        // height: 100px;
        // margin-bottom: 10px;
        flex: 1;
        // background-color: aqua;

        h2 {
          font-weight: 700;
          padding: 10px;
          font-size: 2.4rem;
          color: $mainColor;
        }
      }

      .main-story-image {
        flex: 4;
        // background-color: yellow;
        width: 90%;
        height: 500px;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
          transition: all ease-in-out 0.5s;
        }
      }

      &:hover {
        > img {
          transform: scale(1.1);
        }
      }
    }

    .home-more-stories {
      display: flex;
      flex-wrap: wrap;
      height: 90%;
      justify-content: space-around;

      overflow-y: scroll;
      //   -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .home-story {
        text-decoration: none;
        height: 300px;
        width: 350px;
        background-color: $black;
        color: $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        border-bottom: 1px solid $defaultRed;
        // border-right: 1px solid $defaultRed;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        margin-right: 5px;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }

        img {
          height: 150px;
          width: 100%;
          object-fit: cover;
          transition: all ease-in-out 0.5s;
          object-position: 50% 10%;
        }

        .home-story-text {
          flex: 1;
          border-right: 1px solid $defaultRed;
          padding: 10px 20px;

          h2 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
