@import "../../global.scss";

.banner {
  height: 40vh;
  background-color: black;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  // margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 10px;

  .imageWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    img {
      height: 100%;
      width: 100%;
      background-position: center;
      object-fit: cover;
      opacity: 0.4;
    }
  }
  .textWrapper {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;

    h2 {
      font-size: 3rem;
      padding: 20px;
      color: white;
      transition: all ease-in-out 1s;
      animation: changeColor 5s forwards infinite;

      @keyframes changeColor {
        to {
          color: $defaultRed;
        }
      }
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 10px;

      // letter-spacing: 2px;
    }
  }

  .join-herd {
    background-color: $black;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    // background-color: red;
    width: 100%;
    opacity: 1;
    z-index: 5;

    p {
      font-size: 1.1rem;
    }
  }

  .btn {
    background-color: $defaultRed;
    height: 40px;
    min-width: 150px;
    border: none;

    a {
      text-decoration: none;
      color: white;
    }
    &:nth-child(odd) {
      background-color: white;

      a {
        color: $black;
      }
    }
  }
}

.editors-pick {
  height: 80vh;
  background-color: white;
  background-attachment: fixed;
  color: $defaultRed;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  > h2 {
    height: 50px;
    font-size: 2rem;
    text-align: left;
    width: 75%;
    // background-color: green;
  }

  .picksWrapper {
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    border-left: 10px solid $defaultRed;
    border-top: 10px solid $defaultRed;
    border-radius: 30px 0px 0px 0px;
    padding: 10px;

    .picks {
      height: 50%;
      width: 500px;
      // background-color: red;
      margin: 10px;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        -webkit-box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0.8;
        border-radius: 10px;
        transition: ease-in-out 1s;
      }

      h2 {
        font-size: 2rem;
        z-index: 2;
        position: absolute;
        bottom: 0;
        padding: 5px;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

.container-md-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  transform: translateX(10px);

  &::-webkit-scrollbar {
    display: none;
  }
  .container-card {
    height: 350px;
    width: 300px;
    background-color: white;
    color: $black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3px;
    // justify-content: baseline;

    &:hover {
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }
}
.shop-container {
  height: 60vh;
  display: flex;
  background-color: rgba(245, 243, 243, 0.945);
  // align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
  padding: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: rgb(139, 136, 136);
    text-decoration: none;
    text-align: right;
    width: 90%;
    // background-color: red;
    h4 {
      font-weight: 300;
      text-transform: uppercase;
    }
    &:hover {
      color: black;
      text-decoration: underline 1px $defaultRed;
    }
  }

  .products {
    .product {
      &:hover {
        span {
          width: inherit;
          // display: block;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          button {
            background-color: $black;
            border-radius: 30px;
            width: 120px;
            color: white;
          }
        }
      }
      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        // display: none;
      }
      span {
        display: none;
        position: absolute;
        bottom: 0;
        height: 100%;
        background-color: rgba(66, 66, 66, 0.5);
        color: white;
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.matches-container {
  height: 55vh;
  display: flex;
  background-color: rgba(245, 243, 243, 0.945);
  // align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
  padding: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  > span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    // background-color: red;

    h5 {
      font-weight: 500;
    }
  }
  .matches {
    .match {
      .date-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: red;
        // align-self: baseline;
      }
      .team-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        flex: 2;

        img {
          height: 70px;
          width: 70px;
          object-fit: contain;
        }

        span {
          background-color: $black;
          color: white;
          font-size: 2rem;
          font-weight: 800;
          padding: 5px;
          border-radius: 10px;
        }
      }
      .teams {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;

        span {
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
        button {
          border-radius: 30px;
        }
      }
    }
  }
}
