@import "../../global.scss";

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

  .website-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    // margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      // background-color: $black;
      margin: 1px;
      padding: 5px;

      li {
        margin: 3px;
        font-size: 0.9rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .top-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      background-color: $black;
      color: white;

      .header-leagues {
        display: flex;
        justify-content: flex-start;
        flex: 3;
      }
      .mini-list {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
      }
    }

    .bottom-header {
      padding: 5px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $defaultRed;

      .logo {
        height: 90%;
        width: 80px;
        margin-left: 10px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      ul {
        flex: 1;
        max-width: 900px;
        height: 100%;
        // background-color: lime;

        li {
          color: $mainColor;
          height: 100%;
          // background-color: #fff;
          display: flex;
          align-items: center;
          transition: all ease-in-out 0.2s;

          &:hover {
            border-bottom: 5px solid white;

            a {
              color: $black;
            }
          }

          a {
            color: $mainColor;
            text-decoration: none;
            text-transform: uppercase;
            // background-color: aqua;
          }
        }
      }
    }
  }
}
