@import "../../global.scss";

.match-center {
  color: $light;
  width: 100%;

  .match-center-nav {
    // padding: 20px;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $black;
    margin-bottom: 50px;

    // flex: 1;

    select {
      height: 70%;
      width: 150px;
      font-size: 1.4rem;
      outline: none;
      font-family: $mainFont;
      margin-right: 100px;
      border-radius: 6px 6px 0 0;
      text-align: center;

      @include screen-size(phone) {
        width: 90px;
        height: 50%;
        font-size: 0.9rem;
      }

      option {
        font-size: 0.8rem;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      list-style: none;
      //   flex: 2;
      //   background-color: lime;
      //   width: 600px;

      li {
        cursor: pointer;
        padding: 10px;
        background-color: $light;
        color: $mainColor;
        margin-right: 10px;
        border-radius: 6px 6px 0 0;
        transition: all ease;

        @include screen-size(phone) {
          // width: 100px;
          height: 50%;
          padding: 5px;
          font-size: 0.9rem;
        }

        &.active,
        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }

  .fixtures-center {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .fixtures-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;

      @include screen-size(phone) {
        width: 100%;
        // background-color: red;
      }

      .monthly-fixtures {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include screen-size(phone) {
          width: 100%;
        }

        @include screen-size(tablet) {
          width: 90%;
        }

        @include screen-size(desktop) {
          width: 70%;
        }

        .fixture-container {
          width: 90%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          a {
            text-decoration: none;
            color: $defaultRed;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            font-weight: 500;

            .icon {
              font-size: 1rem;
            }
          }

          .date-details {
            background-color: $mainColor;
            color: $black;
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            width: 100%;
            // flex: 1;
          }
          .teams {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 100%;
            // background-color: red;

            .team-details {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              height: 90%;
              flex: 1;

              &:nth-child(3) {
                justify-content: flex-start;
                // background-color: red;
              }

              //   background-color: lime;

              img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: contain;
                margin: 10px;

                &:nth-child(3) {
                  margin-right: 5px;
                  // background-color: red;
                }
              }
            }
            span {
              margin: 10px;

              padding: 5px;
              background-color: $black;
              color: white;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }

  .league-standings {
    margin: 0px 10px;
    background-color: $black;
    padding: 10px;
    color: white;

    h2 {
      text-transform: uppercase;

      @include screen-size(phone) {
        font-size: 1rem;
      }
    }

    table {
      width: 100%;

      th {
        @include screen-size(phone) {
          font-size: 0.8rem;
        }
      }

      tr {
        -webkit-box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);

        height: 40px;
        color: $mainColor;

        &.impala {
          background-color: $defaultRed;
          color: white;
        }

        td {
          width: 100px;
          text-align: center;

          @include screen-size(phone) {
            width: 50px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.match-review-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include screen-size(phone) {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  @include screen-size(tablet) {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  @include screen-size(desktop) {
    flex-direction: initial;
    height: calc(100vh - 70px);
  }
  .match-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;

    @include screen-size(phone) {
      width: 90%;
      margin-bottom: 20px;
    }
    @include screen-size(tablet) {
      width: 100%;
      // background-color: lime;
      margin-bottom: 20px;
    }
    @include screen-size(desktop) {
      margin-bottom: 0;
      width: 70%;
    }

    // padding: 10px;

    .fixture-details {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      height: 50%;
      // flex: 2;
      width: 80%;
      margin-bottom: 20px;

      @include screen-size(phone) {
        width: 100%;
      }

      .tournament {
        background-color: $defaultRed;
        color: white;
        width: 100%;
        // height: 10;
        padding: 5px;
      }
      .teams {
        // flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        height: 80%;
        width: 100%;

        @include screen-size(phone) {
          // flex-direction: column;
          // background-color: lime;
        }

        h1 {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3rem;

          @include screen-size(phone) {
            // font-size: 2rem;
            // background-color: lime;
            // padding: 10px;
          }
        }

        .team {
          height: 100%;
          width: 40%;
          // background-color: $black;
          color: $black;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          @include screen-size(phone) {
            // width: 30%;
          }

          h2 {
            // flex: 2;
            height: 50px;
            text-transform: uppercase;

            @include screen-size(phone) {
              font-size: 1.2rem;
            }
          }
          .team-logo {
            // flex: 2;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            // background-color: aqua;

            @include screen-size(phone) {
              height: 150px;
              width: 150px;
            }

            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: contain;
            }
          }
        }
      }
    }
    .match-stats {
      height: 170px;
      // flex: 1;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: white;
      color: white;
      margin-top: 10px;
      overflow-x: hidden;
      // padding: 10px;

      @include screen-size(phone) {
        width: 100%;
        margin-top: 20px;
      }

      .title-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: $defaultRed;

        @include screen-size(phone) {
          padding: 2px;
        }

        h2 {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.2rem;
        }
        .nav-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 40px;
          // background-color: green;

          .icon {
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
      }

      .match-report {
        display: flex;
        justify-content: space-around;
        transition: all ease-in-out 1s;

        color: $black;

        @include screen-size(phone) {
          width: 900px;
        }

        @include screen-size(tablet) {
          width: 900px;
        }

        @include screen-size(desktop) {
          width: 150%;
        }

        .report-card {
          height: 100px;
          width: 170px;
          background-color: white;
          // color: white;
          border-radius: 6px;
          padding: 10px;
          // margin-right: 10px;

          @include screen-size(phone) {
            padding: 5px;
            margin-right: 10px;
            // background-color: brown;
          }

          h3 {
            color: $light;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 5px;
          }
          h5 {
            color: $black;
            font-size: 0.9rem;
            text-transform: uppercase;

            &:nth-child(2) {
              color: $defaultRed;
            }
          }
        }
      }
    }
  }

  .team-lists {
    display: flex;
    justify-content: space-around;
    // background-color: $black;
    flex: 1;
    color: $mainColor;

    @include screen-size(phone) {
      width: 100%;
    }

    @include screen-size(tablet) {
      width: 90%;
    }
    @include screen-size(desktop) {
      width: 30%;
    }

    .line-up {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5px;
      color: $black;
      position: relative;
      height: 100%;
      // background-color: red;

      &.home {
        background-color: $black;
        color: white;
        // h3 {
        //   color: black;
        // }
        .substitutes {
          color: white;
        }
      }
      &.away {
        color: $black;
        background-color: white;

        .substitutes {
          background-color: initial;
          // color: $mainColor;
        }
      }
      h3 {
        margin: 10px;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1.1rem;
      }
      .starting {
        width: 100%;
        padding: 0px 0px 10px 30px;

        h2 {
          // flex: 2;
          height: 400px;
          font-size: 1rem;
          font-weight: 300;
          // background-color: red;
        }
      }
      .substitutes {
        width: 100%;
        background-color: initial;
        color: $black;
        padding: 10px 10px 10px 30px;

        h4 {
          font-weight: 700;
          width: 100%;

          color: $defaultRed;
          margin-left: -20px;
        }
      }
    }
  }
}
