@import "../../global.scss";

.login-container {
  width: 60%;
  height: 70vh;
  display: flex;
  background-color: $defaultRed;
  border-radius: 6px;
  margin-top: 50px;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .img-container {
    background-color: $black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    img {
      width: 95%;
      height: 95%;

      object-fit: contain;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .form-container {
    box-shadow: 10px 10px 10px #333;
    padding-bottom: 30px;
    border-radius: 6px;

    .head-container {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 80%;
      margin: 15px 10px;
      color: white;

      h2 {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex: 1;
      background-color: white;
      border-radius: 10px;
      color: $mainColor;
      width: 80%;

      span {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex: 2;
        &:nth-child(1),
        &:nth-child(2) {
          flex: 1;
          align-items: flex-start;

          h4 {
            font-weight: 400;
            color: $blueDark;
          }

          input {
            height: 30px;
            width: 250px;
            border-radius: 6px;
            border: 1px solid $mainColor;
            outline: $defaultRed;
            padding: 5px;
            font-size: 0.9rem;
          }
        }
      }

      button {
        width: 250px;
        height: 40px;
        font-family: $mainFont;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 6px;
        outline: none;
        border: 1px solid black;

        &.login {
          background-color: $defaultRed;
          color: white;
        }

        &.google-login {
          background-color: $light;
          color: white;
          cursor: not-allowed;
        }
      }

      a {
        text-decoration: none;
        color: $blueDark;
      }
    }
  }
}
