@import "../../../global.scss";

.member-profile {
  // display: flex;
  // padding: 10px;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  .profile-image {
    height: 70vh;
    // background-color: aqua;
    background-attachment: fixed;
    // background-position: top;
    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
    }
  }
  .container-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    height: 80vh;
    z-index: 10;
    padding: 20px;

    .left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      // background-color: red;

      .member-profile-card {
        // height: 500px;
        flex: 4;

        background-color: $blueDark;
        display: flex;
        color: $mainColor;
        flex-direction: column;
        align-items: center;
        // margin: auto;
        padding: 10px;
        // border-radius: 6px;
        // margin-top: 100px;

        .profile-pic {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 50%;
          width: 100%;
          position: relative;
          border-radius: 6px;

          span {
            flex: 1;
            width: 95%;

            &:first-child {
              background-color: $defaultRed;
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;
            }
            &:nth-child(3) {
              background-color: white;
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
      }
      img {
        object-position: top;
      }

      .profile-meta {
        margin-top: 10px;
        height: 40%;
        // width: 95%;
        background-color: $black;
        padding: 5px;
        color: $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-items: center;

        h5 {
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
          letter-spacing: 1.6px;

          &:nth-child(1) {
            text-transform: capitalize;
          }
        }

        .profile-scripture {
          margin-top: 10px;
          padding: 10px;
          flex: 1;
          color: $defaultRed;
          border: 1px solid $black;
          -webkit-box-shadow: 0px 10px 13px -7px #000000,
            5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000,
            5px 5px 15px 5px rgba(0, 0, 0, 0);

          p {
            font-size: 1rem;
          }
        }
      }
    }

    .right-container {
      // border-radius: 6px;
      background-color: white;
      // background-color: rebeccapurple;
      flex: 2;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      padding: 10px;
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

      .profile-nav-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 2px;

        button {
          cursor: pointer;
          -webkit-box-shadow: 0px 10px 13px -7px #000000,
            5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000,
            5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
      }
      // > section {
      //   padding: 20px;
      //   flex: 5;
      //   background-color: lime;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: space-around;
      //   // width: 100%;

      //   h2 {
      //     text-align: center;
      //   }
      // }

      .member-about {
        height: 60vh;
        flex: initial;
        // background-color: green;
        .member-about-text {
          // background-color: red;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          p {
            line-height: 35px;
            height: 90%;
            padding: 20px;
            width: 90%;
            letter-spacing: 2px;

            // background-color: blue;
          }
        }
      }
      .member-statistics {
        // color: red;
        // background-color: aqua;
        height: 100%;
        h2 {
          font-size: 2rem;
        }

        .stats-wrapper {
          display: flex;
          justify-content: space-around;

          margin-top: 50px;
          // flex-direction: column;
          // background-color: red;

          h3 {
            color: $defaultRed;
          }

          .stats {
            display: flex;
            flex-direction: column;
            background-color: $black;
            border: 1px solid $mainColor;
            color: white;
            padding: 10px;
            border-radius: 10px;
            min-width: 25%;

            div {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }

      .images-container {
        // background-color: red;
        width: 100%;
        // position: relative;

        .images-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          // background-color: aqua;
          width: 100%;

          .image {
            border: 2px solid $defaultRed;
            height: 220px;
            width: 200px;
            margin: 5px;
            cursor: pointer;

            img {
              height: 100%;
              width: 100%;
              object-fit: fill;
              // display: none;
            }
          }
        }

        .image-viewer {
          display: none;
          position: fixed;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -10%);
          height: 100%;
          width: 100%;
          background-color: $black;
          overflow: none;
          align-items: center;
          justify-content: center;

          img {
            height: 80%;
            width: 80%;
            object-fit: contain;
          }
          .close {
            color: white;

            cursor: pointer;
            position: absolute;
            top: 10%;
            right: 10%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in-out 0.3s;

            .icon {
              font-size: 2rem;
            }

            &:hover {
              background-color: $defaultRed;
            }
          }
          .arrow {
            position: absolute;
            cursor: pointer;
            color: white;
            position: absolute;
            top: 50%;

            .icon {
              font-size: 2.5rem;
              cursor: pointer;
            }
            &.left {
              left: 5%;
            }
            &.right {
              right: 5%;
            }
          }
        }
      }
    }
  }
}
