// Font  - Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,400&display=swap");

// Color Palette

$defaultRed: #ff002b;
$darkRed: #a0001c;
$mainColor: #cacaca;
$blueLight: #407ba7;
$blueDark: #1d2537;
$black: #212529;
$light: #495057;
$online: #ff0000;
$mainFont: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  // background-color: $mainColor;
  // background-color: rgba(245, 243, 243, 0.945);
  background-color: white;
  color: $blueDark;
  font-family: $mainFont;
}

// media queries

@mixin screen-size($res) {
  @if $res == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $res == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $res == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
