@import "./global.scss";

.store-container {
  height: auto;
  //   background-color: red;
  width: 100%;

  header {
    height: 60px;
    background-color: $black;
    margin: auto;
    position: sticky;
    top: 70px;
    z-index: 1;

    @include screen-size(phone) {
      width: 100%;
    }

    @include screen-size(tablet) {
      width: 80%;
    }

    @include screen-size(desktop) {
      width: 60%;
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        // text-transform: uppercase;

        a {
          color: $mainColor;
          text-decoration: none;
        }

        &.active {
          text-decoration: underline 2px solid;
          a {
            color: $defaultRed;
          }
        }
      }
    }
  }

  .shop-container {
    // padding-left: 30px;
    height: auto;
    // background-color: red;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .product-wrapper {
      position: relative;
      height: 500px;
      transition: all ease-in-out 1s;
      // background-color: aqua;
      overflow-y: hidden;
      width: 100%;

      @include screen-size(phone) {
        height: 450px;
      }

      &.open {
        height: 100%;
        background-color: $black;
        color: $mainColor;
        padding: 10px;
      }
      h2 {
        text-transform: uppercase;
        margin: 80px 0 20px 20px;
      }

      .category-container {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        // background-color: lime;

        .product {
          height: 80%;

          margin: 0px 20px;

          @include screen-size(phone) {
            width: 40%;
            height: 250px;
            margin: 30px 20px;
          }

          @include screen-size(tablet) {
            width: 25%;
          }

          @include screen-size(desktop) {
            width: 20%;
          }

          img {
            height: 70%;
            width: 100%;
            object-fit: fill;
          }

          .product-details {
            background-color: $black;
            color: $mainColor;
            padding: 5px;

            button {
              background-color: $defaultRed;
              color: white;
              outline: none;
              border: none;
              padding: 5px;
              margin: 2px;

              @include screen-size(phone) {
                // padding: 0;
                display: block;
              }

              a {
                color: white;
                text-decoration: none;
              }
            }

            span {
              font-size: small;
              margin-left: 5px;

              @include screen-size(phone) {
                font-size: smaller;
              }
            }

            p {
              font-size: 0.9rem;

              @include screen-size(phone) {
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .more {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0px;
        right: 120px;
        cursor: pointer;

        @include screen-size(phone) {
          right: 0;
          bottom: -10px;
        }

        a {
          font-size: 1rem;
          text-decoration: none;
          color: $mainColor;
        }

        .icon {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px;

  .product-details-wrapper {
    display: flex;
    // background-color: aqua;

    @include screen-size(phone) {
      flex-direction: column;
      height: auto;
      // background-color: red;
    }

    @include screen-size(tablet) {
      flex-direction: column;
      height: auto;
      // background-color: red;
    }

    @include screen-size(desktop) {
      flex-direction: initial;
      height: calc(100vh - 70px);

      // background-color: red;
    }

    .image-container {
      // height: 100%;
      // background-color: red;
      display: flex;

      @include screen-size(phone) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        // background-color: lime;
      }

      @include screen-size(tablet) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        flex: 1;
      }

      @include screen-size(desktop) {
        flex-direction: initial;
        flex: 2;
      }
      .more-images {
        width: 20%;
        display: flex;
        align-items: center;
        padding: 5px;

        @include screen-size(phone) {
          width: 90%;
          flex-direction: initial;
          // background-color: aqua;
          justify-content: space-around;
        }

        @include screen-size(tablet) {
          width: 50%;
          flex-direction: initial;
          justify-content: space-around;
          // background-color: red;
        }

        @include screen-size(desktop) {
          height: 80%;
          flex-direction: column;
          justify-content: flex-start;
        }

        img {
          height: 120px;
          width: 100px;
          margin-bottom: 20px;
          cursor: pointer;
          border: 1px solid $black;
        }
      }
      > img {
        object-fit: contain;

        // display: none;
        @include screen-size(phone) {
          width: 90%;
          object-fit: fill;
          height: 500px;
          margin-bottom: 10px;
        }

        @include screen-size(tablet) {
          width: 90%;
          height: 550px;
          margin-bottom: 10px;
        }

        @include screen-size(desktop) {
          height: 100%;
          width: 80%;
          // object-fit: fill;
        }
      }
    }

    .right-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 20px 0 20px;
      // background-color: lime;
      // width: 100%;

      .product-details {
        flex: 2;
        display: flex;
        flex-direction: column;

        @include screen-size(phone) {
          width: 80%;
        }

        @include screen-size(tablet) {
          width: 50%;
        }

        @include screen-size(desktop) {
          width: 70%;
        }
        h2 {
          font-size: 1.2rem;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        h4 {
          font-weight: 300;
          color: $defaultRed;
        }
        span {
          display: flex;

          h4 {
            font-weight: 200;
            margin-left: 5px;
            color: $black;
          }
        }

        .sizes {
          display: flex;
          height: 50px;
          border: 1px solid $mainColor;
          margin: 20px 0;

          // background-color: red;

          span {
            align-items: center;
            justify-content: center;
            // height: 100%;
            flex: 1;
            // width: 20px;
            padding: 20px;
            border-right: 1px solid $mainColor;
            cursor: pointer;

            &.active {
              background-color: $black;
              color: white;
            }
          }
        }

        .add-to-cart {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          margin: 20px 0;

          button {
            height: 100%;
            width: 200px;
            border: none;
            outline: none;
            background-color: $black;
            cursor: pointer;
            color: $mainColor;
          }

          .like {
            height: 100%;
            width: 50px;
            background-color: $mainColor;
            color: $defaultRed;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }

      .my-cart {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $black;
        border-radius: 30px 30px 0 0;
        padding: 10px;
        color: white;
        @include screen-size(phone) {
          width: 100%;
        }

        @include screen-size(tablet) {
          width: 60%;
        }

        @include screen-size(desktop) {
          width: 100%;
        }

        strong {
          color: $defaultRed;
          font-weight: 500;
        }
        .added-items {
          // background-color: green;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 90%;

          .item {
            display: flex;
            background-color: $mainColor;
            border: 1px solid $light;
            color: $black;
            width: 100%;

            @include screen-size(phone) {
            }

            .img-holder {
              height: 100px;
              width: 100px;

              img {
                height: 100%;
                width: 100%;
              }
            }

            .item-details {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 5px;
              flex: 2;
              h3 {
                font-weight: 300;
                font-size: 1rem;
              }

              span {
                display: flex;
                align-items: center;
                margin-left: 20px;
                color: $defaultRed;
                font-size: 0.8rem;
                cursor: pointer;

                .icon {
                  font-size: 1rem;
                }
              }
            }
          }
          a {
            height: 40px;
            width: 200px;
            margin-top: 20px;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .suggested-products {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;

    .products {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 80%;
      border-top-right-radius: 30px;
      border-top: 10px solid $defaultRed;
      border-right: 10px solid $defaultRed;

      @include screen-size(phone) {
        width: 100%;
      }

      h2 {
        // text-transform: capitalize;
        text-align: left;
        width: 100%;
        color: $defaultRed;
      }

      .product {
        height: 90%;
        width: 200px;
        margin: 20px;
        border-radius: 10px;
        text-decoration: none;
        color: $black;
        text-transform: uppercase;
        font-size: 0.8rem;
        // background-color: white;

        @include screen-size(phone) {
          width: 90%;
        }

        &:hover {
          h3 {
            text-decoration: underline $defaultRed;
          }
        }
        img {
          object-fit: cover;
          height: 80%;
          width: 100%;
          border-radius: 10px 10px 0 0;

          @include screen-size(phone) {
            height: 90%;
            object-fit: scale-down;
          }
        }
        h3 {
          padding: 10px;

          @include screen-size(phone) {
            padding: 5px;
          }
        }
      }
    }
  }
}
